h3 {
  color: blue;
  background-color: rgb(198, 198, 255);
  padding: 15px;
  text-align: center;
}

p {
  color: blueviolet;
  background-color: rgb(229, 206, 250);
  padding: 20px;
  text-align: justify;
}